<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/favicon-bunny.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{content}}</p>
            <img src="/img/screenshot.png" alt="screenshot" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>